/*header {
    height: 6.5em;
    background-color: white;
    box-shadow:  0 0px 4px rgba(146, 161, 176, 0.3);
}*/

.hero {
  /*background: #F6F6F6;*/
  min-height: 0;
  width: 100%;
  color: rgb(165, 165, 165);
  position: relative;
}

nav {
  padding: 0;
  display: flex;
  align-items: center;
  padding: 15px 3%;
}

nav .icon {
  width: 60px;
  cursor: pointer;
  padding: 0px;
}

.popup-icon{
    display: flex;
}


body {
  background-color: white;
}

nav ul {
  flex: 1;
  text-align: right;
  font-family: "POPPINS", sans-serif;
  font-size: 19px;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  border-bottom: 0.2rem solid #abf2f4;
}

nav ul li a.active nav ul li a:hover {
  color: #133b78;
  border-bottom: 0.2rem solid #25d8d5;
}

@font-face {
  font-family: "poppins", "Arial Narrow", Arial, sans-serif;
  src: url(font.ttf);
}

.h1 {
  color: black;
  margin: 10px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: 60px;

}

/* start of about page*/

.intro {
  text-align: center;
  background-color: #fdfcfc;
  width: 70%;
  font-size: 30px;
  margin: 8px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;

}

.p {
  font-family: "POPPINS", sans-serif;
  font-weight: 100;
}

.links a.active {
    border-bottom: 1px solid #555;
}

.button{
color: black;

}

.container{
    width: 100%;
    height: 100vh;
    background: gold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: 15px 60px;
    background: #0f0f0f;
    border: 0;
    outline: none;
    cursor:pointer;
    font-size: 22px;
    font-weight: 300;
    border-radius: 30px;
    color: #eef0f0;
}
    
  

.popup{
    width: 100%;
    background: #abf2f4; 
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color:black;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img{
    width: 200px;
    margin-top: -60px;
    border-radius: 50%;
    box-shadow: 0 .5px 5px rgb(171, 171, 171);

}

.popup h2{
    font-size: 38px;    
    font-weight: 500;
    margin: 30px 0 10px;
    font-family: "Source Sans Pro", sans-serif;
}

.popup button{
    width: 20%;
    margin-top: 50px;
    padding: 10px 0;
    background: white;
    color: rgb(0, 0, 0);   
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 40px; 
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    font-family: "Source Sans Pro", sans-serif;

}

#toggle-btn {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
  
#toggle-btn.toggled-on {
    background-color: #000;
    color: #fff;
}